<script>
  $(document).ready(function(){
      $.ajax({
        url: '/items',
        type: 'GET',
        //data: 'page=' + btn_page,
          success: function (itemResponse) {
            //TODO Account for quantity
            //Creates a list for items
            var itemList =[];
            for (var i = 0;i < itemResponse.items.length; i++) {
              itemList.push(itemResponse.items[i].name);
            }
            $.ajax({
                  url: '/recipes',
                  type: 'GET',
                  //data: 'page=' + a,
                  success: function (recipes) {
                    var webtxt = "";
                    for (var i = 0;i < recipes.recipes.length; i++) {
                      webtxt += "<h4><b>" + recipes.recipes[i].name + "</b></h4>";
                      var flag = true;
                      for(var j = 0; j < recipes.recipes[i].ingredients.length; j++) {
                        //console.log(recipes.recipes[i].ingredients[j]);

                        if(!itemList.includes(recipes.recipes[i].ingredients[j])){
                          //console.log("Do not have " + recipes.recipes[i].ingredients[j]);
                          flag = false;
                          };
                        };

                        if(!flag){
                          webtxt += "You cannot cook " + recipes.recipes[i].name
                        } else {
                          webtxt += "You can cook " + recipes.recipes[i].name
                        }
                        webtxt += "<br/><button type=\"button\" onClick=\"cookRecipe(\'" + recipes.recipes[i]._id + "\')\">Cook Me</button>"
                    }
                    $("#display").html(webtxt);
                  }
              });
          }
        });

      $.ajax({
        url: '/recipes',
        type: 'GET',
        success: function(response){    // response contains json object in i
            var Options = "";
            for(var i = 0;i < response.recipes.length; i++) {
              Options += "<p><h4>" + response.recipes[i].name + "</h4>" +
              "<b>Ingredients</b><ul>";
              for(var j = 0; j < response.recipes[i].ingredients.length; j++) {
                Options += "<li>" + response.recipes[i].ingredients[j] + "</li>";
              };
              Options += "</ul></p><hr/>"
            };
            $("#recipes").html(Options);
            }
        });
    });

    function cookRecipe(value){
      $.ajax({
        url: '/recipes/' + value,
        type: 'GET',
        success: function(response){    // response contains json object in i
            var itemList = response.recipe.ingredients
            $.ajax({
              url: '/api/items',
              type: 'GET',
              success: function(response){
                  for(var i = 0;i < response.items.length; i++) {
                    if(itemList.includes(response.items[i].name)){
                      $.ajax({
                        url: '/api/items/' + response.items[i]._id,
                        type: 'DELETE',
                        success: function(response){}
                        });
                      }
                    };
                  }
              });
              document.location.reload();
            }
        });
    };

</script>

<h1 class="mt-4"> My Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>



<h2>What you can cook now</h2>

<hr />

<div>
  <span id="display">
  </span>
</div>

<table class="table table-bordered table-dark table-striped" id="test">

</table>

40 | 55 Hours <br/>

<hr/>

Development CI/CD</br></br>

<ul>

  <li><i><b>Extras</b></i></li>

  <li><i>9am - 9.30am</i></li>
  <li>Document</li>

  <li><i>1.30pm - 2pm</i></li>
  <li>Bootstrap</li>

  <li><i>2pm - 2.30pm</i></li>
  <li>Bootstrap</li>

  <li><i>2.30pm - 3pm</i></li>
  <li>Bootstrap</li>

  <li><i><b>Sunday</b></i></li>

  Lunch

  <li><i>2pm - 2.30pm</i></li>
  <li>Document</li>

  <li><i>2.30pm - 3pm</i></li>
  <li>Recipe D</li>

  Evening

  <li><i>6.30pm - 7pm</i></li>
  <li>Document</li>

  <li><i>7pm - 7.30pm</i></li>
  <li>Document</li>

  Night

  <li><i>10.30pm - 11pm</i></li>
  <li>Document</li>

  <li><i>11pm - 11.30pm</i></li>
  <li>Document</li>

  <li><i>11.30pm - 12am</i></li>
  <li>Document</li>

  <li><i>12am - 12.30am</i></li>
  <li>Automated Testing</li>

</ul>

Report docs.google.com</br></br>

<ul>

  <li><b>10 Hr Plan           </b></li>
  <li><b>Items Page           </b></li>
  <li><b>Recipe Page 2 Hours  </b></li>
  <li><b>HomePage formula 1.5Hrs </b></li>
  <li><b>Login 2.5Hr            </b></li>
  <li><b>1 Hour Meeting Prep </b></li>
  <li><b>20 Hr Plan           </b></li>
  <li><b>Cognito Research     </b></li>
  <li><b>Delete Functionality of items </b></li>
  <li><b>Code Cleanup</b></li>
  <li><b>CookRecipe Function 1.Hrs</b></li>
  <li><b>Jenkins Webhooks</b></li>
  <li><b>Jenkins Webhook troubleshooting</b></li>
  <li><b>Jenkins SSH configuration</b></li>
  <li><b>Jenkins 8.5Hrs configuration</b></li>
  <li><b>git branch set up</b></li>
  <li><b>CookRecipe function 1.5Hr</b></li>
  <li><b>Login 1/4 AWS Amplify</b></li>
  <li><b>Login 2/4 AWS Amplify</b></li>
  <li><b>AWS & CI/CD & Docker 2Hr Research</b></li>
  <li><b>CodeDeploy Research</b></li>
  <li><b>Testing 1Hr</b></li>
  <li><b>Bootstrap</b></li>
  <li><b>Login UI 2 Hours</b></li>
  <li><b>Login Unique ID 1hr</b></li>
  <li><b>9Hrs Document </b></li>

  <li>55 Hour Plan</li>
  <li><b>Document</b></li>
  <li><b>Document</b></li>
  <li><b>Document</b></li>
  <li><b>Jenkins CD</b></li>
  <li><b>Meeting</b></li>
  <li><b>Bug : Routing error</b></li>
  <li><b>Test Automation</b></li>
  <li><b>Unique ID & DB</b></li>
  <li><b>Unique ID & DB</b></li>

  <li><b>Unique ID & DB</b></li>
  <li><b>Unique ID & DB</b></li>
  <li><b>Document</b></li>
  <li><b>Document</b></li>
  <li><b>Document</b></li>
  <li><b>Document</b></li>
  <li><b>Document</b></li>
  <li><b>Document</b></li>
  <li><b>Document</b></li>
  <li><b>Document</b></li>

  <li><b>Document</b></li>
  <li><b>Routing</b></li>
  <li><b>Automated Testing</b></li>
  <li><b>Automated Testing</b></li>
  <li><b>Automated Testing</b></li>

  <a href="/users/logout" class="btn btn-secondary">Logout</a>



</ul>
