<script>
  $(document).ready(function(){
      $.ajax({
        url: '/items',
        type: 'GET',
        //data: 'page=' + btn_page,
          success: function (itemResponse) {
            //TODO Account for quantity
            //Creates a list for items
            var itemList =[];
            for (var i = 0;i < itemResponse.items.length; i++) {
              itemList.push(itemResponse.items[i].name);
            }
            $.ajax({
                  url: '/recipes',
                  type: 'GET',
                  //data: 'page=' + a,
                  success: function (recipes) {
                    var webtxt = "";
                    for (var i = 0;i < recipes.recipes.length; i++) {
                      webtxt += "<h4><b>" + recipes.recipes[i].name + "</b></h4>";
                      var flag = true;
                      for(var j = 0; j < recipes.recipes[i].ingredients.length; j++) {
                        //console.log(recipes.recipes[i].ingredients[j]);

                        if(!itemList.includes(recipes.recipes[i].ingredients[j])){
                          //console.log("Do not have " + recipes.recipes[i].ingredients[j]);
                          flag = false;
                          };
                        };

                        if(!flag){
                          webtxt += "You cannot cook " + recipes.recipes[i].name
                        } else {
                          webtxt += "You can cook " + recipes.recipes[i].name
                        }
                        webtxt += "<br/><button type=\"button\" onClick=\"cookRecipe(\'" + recipes.recipes[i]._id + "\')\">Cook Me</button>"
                    }
                    $("#display").html(webtxt);
                  }
              });
          }
        });

      $.ajax({
        url: '/recipes',
        type: 'GET',
        success: function(response){    // response contains json object in i
            var Options = "";
            for(var i = 0;i < response.recipes.length; i++) {
              Options += "<p><h4>" + response.recipes[i].name + "</h4>" +
              "<b>Ingredients</b><ul>";
              for(var j = 0; j < response.recipes[i].ingredients.length; j++) {
                Options += "<li>" + response.recipes[i].ingredients[j] + "</li>";
              };
              Options += "</ul></p><hr/>"
            };
            $("#recipes").html(Options);
            }
        });
    });

    function cookRecipe(value){
      console.log(value);
      $.ajax({
        url: '/recipes/' + value,
        type: 'GET',
        success: function(response){
            var itemList = response.recipe.ingredients
            console.log(response);
            $.ajax({
              url: '/items',
              type: 'GET',
              success: function(response){
                console.log(response);
                  for(var i = 0;i < response.items.length; i++) {
                    console.log(response.items[i]);
                    if(itemList.includes(response.items[i].name)){
                      $.ajax({
                        url: '/items/' + response.items[i]._id,
                        type: 'DELETE',
                        success: function(response){}
                        });
                      }
                    };
                  }
              });
              //document.location.reload();
            }
        });
        //document.location.reload();
    };

</script>

<h1 class="mt-4"> My Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>

<h2>What you can cook now</h2>

<hr />

<div>
  <span id="display">
  </span>
</div>

<table class="table table-bordered table-dark table-striped" id="test">

</table>

<hr/>

Development CI/CD</br></br>

100 Hours

<ul>

  Bug Tracker <br/>
  Users able to enter empty recipes <br/>
  Split Columns on line endings <br/>
  References <br/>
  Zotero <br/>
  Cordova <br/>
  Report formatting <br/>
  Testing flesh out <br/>
  Focus on CI/CD on report <br/>

  Saturday <br/>
  6 7 8 9 10 12 13 14 15 16 17 18 19 20 21 22 23<br/>

  Sunday <br/>
  6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23<br/>

</ul>

Report docs.google.com</br></br>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
