<!DOCTYPE html>
<html>
<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function(){
      $.ajax({
        url: '/recipes',
        type: 'GET',
        success: function(response){    // response contains json object in i
            var Options = "";
            for(var i = 0;i < response.recipes.length; i++) {
              Options += "<p><h4>" + response.recipes[i].name + "</h4>" +
              "<b>Ingredients</b><ul>";
              for(var j = 0; j < response.recipes[i].ingredients.length; j++) {
                Options += "<li>" + response.recipes[i].ingredients[j] + "</li>";
              };
              Options += "</ul><b>Method</b><ul>";
              for(var k = 0;k < response.recipes[i].method.length; k++) {
                Options += "<li>" + response.recipes[i].method[k] + "</li>";
              };
              Options += "</ul></p><hr/>"
            };
            $("#recipes").html(Options);
            }
        });
    });

</script>
</head>

<body>

  <h2>Manage Recipes CRud</h2>

  <p class="lead mb-3">Welcome <%= name %></p>

  <hr />

  <div>
    <span id="recipes">
    </span>
  </div>

  <form method="POST" action="/recipes">
    <fieldset>
      <legend>Add a new recipe:</legend>
      Name:<br>
      <input type="text" name="name" id='recipe-name'><br>
      Ingredients:(Seperate by Spaces)<br>
      <textarea name="ingredients" rows="2" cols="30" id='recipe-ingredients'>
      </textarea><br>
      Method:(Seperate by -)<br>
      <textarea name="method" rows="7" cols="30" id='recipe-method'></textarea><br>
      <input type="hidden" name="owner" value=<%= id %>>
      <input type="submit" value="Submit" id='recipe-submit'>
    </fieldset>
  </form>
</body>

</html>
