<!DOCTYPE html>
<html>
<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function(){
      $.ajax({
        url: '/api/items',
        type: 'GET',
        success: function(response){    // response contains json object in i
            console.log(response.items.length);
            console.log(response.items[0].name);
            var Options = "<option selected>Select a host</option>";
            for(var i = 0;i < response.items.length; i++) {
              Options += "<option value='" + response.items[i].name + "'>" +
              response.items[i].name + "</option>";
            };
            $("#customers").html(Options);
            }
        });

      $.ajax({
        url: '/api/recipes',
        type: 'GET',
        success: function(response){    // response contains json object in i
            console.log(response);
            console.log(response.recipes.length);
            console.log(response.recipes[0].name);
            var Options = "<option selected>Select a host</option>";
            for(var i = 0;i < response.recipes.length; i++) {
              Options += "<option value='" + response.recipes[i].name + "'>" +
              response.recipes[i].name + "</option>";
            };
            $("#servers").html(Options);
            }
        });
    });

    function getServers(){
      $.ajax({
      url: "/getServers?customer=" + $("#customers").val(),
      type: 'GET',
      success: function(response){    // response contains json object in i
          var serverOptions = "<option selected>Select a Server</option>";
          for(var i = 0;i < response.length; i++) {
              serverOptions += "<option value='" + response[i].ServerName + "'>" +
              response[i].ServerName + "</option>";
            }
          $("#servers").html(serverOptions);
          }
      });
    };

    function getChecks(){
      $.ajax({
      url: "/getChecks?customer=" + $("#customers").val() + "&server=" + $("#servers").val(),
      type: 'GET',
      success: function(response){    // response contains json object in i
          var checkOptions = "<option selected>Select a Check</option>";
          for(var i = 0;i < response.length; i++) {
              checkOptions += "<option value='" + response[i].CheckName + "'>" +
              response[i].CheckName + "</option>";
            }
          $("#check").html(checkOptions);
          }
      });
    };

    function getInfo(){
      $.ajax({
      url: "/getInfo?customer=" + $("#customers").val() + "&server=" + $("#servers").val() + "&check=" + $("#check").val(),
      type: 'GET',
      success: function(response){    // response contains json object in i
          var info = "<thead><tr><th scope='col'>Title</th><th scope='col'>Info</th></tr></thead><tbody>";
          for(var i = 0;i < response.length; i++) {
                    info += "<tr><td>Customer</td><td>" + response[0].Customer + "</td></tr>"
                    + "<tr><td>ServerName</td><td>" + response[0].ServerName + "</td></tr>"
                    + "<tr><td>CheckName</td><td>" + response[0].CheckName + "</td></tr>"
                    + "<tr><td>Description</td><td>" + response[0].Description + "</td></tr>"
                    + "<tr><td>Warning</td><td>" + response[0].Warning + "</td></tr>"
                    + "<tr><td>Critical</td><td>" + response[0].Critical + "</td></tr>"
                    + "<tr><td>Issue</td><td>" + response[0].Issue + "</td></tr>"
                    + "<tr><td>Level1Response</td><td>" + response[0].Level1Response + "</td></tr>"
                    + "<tr><td>Level2Response</td><td>" + response[0].Level2Response + "</td></tr>"
                    + "<tr><td>Level3Response</td><td>" + response[0].Level3Response + "</td></tr>"
                    + "<tr><td>Type</td><td>" + response[0].Type + "</td></tr>"
                    + "<tr><td>Notes</td><td>" + response[0].Notes + "</td></tr>"
            }
          info += "</tbody>"
          $("#test").html(info);
          }
      });
    };

</script>
</head>

<body>
  
<%- include('partials/header'); %>


<h2>Shopping List - shoppinglist.html ejs</h2>

<hr />

</body>

</html>
