<!DOCTYPE html>
<html>
<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <script>
    //var id = <%= id %>;
    //console.log(id);
    $(document).ready(function(){
      $.ajax({
        url: 'http://localhost:5000/list',
        type: 'GET',
        success: function(response){
          console.log(response);
          console.log(response.length);
          console.log(response[0]);
          console.log(response[0].listItems);

          if (response[0].listItems.length) {
            var List = "";
            '<input type="checkbox" value=""> I have a bike<br>'
            for(var i = 0;i < response[0].listItems.length; i++) {
              List += "<input type=\"checkbox\" value=\"" + response[0].listItems[i]
              + "\" id=\"" + response[0].listItems[i] + "\" onclick=\"myFunction("
              + response[0].listItems[i] + ")\">"
              + response[0].listItems[i] + "<br>"
              };
            } else {
              var List = "You have no items in your list"
            }
          $("#List").html(List);

          }
        });
      });

      function myFunction(value) {
        console.log(value);
      var x = document.getElementById(value);
      if (x.innerHTML === "Hello") {
        x.innerHTML = "Swapped text!";
      } else {
        x.innerHTML = "Hello";
      }
      }

</script>
</head>

<body>

<h2>Shopping List</h2>

<p class="lead mb-3">Welcome <%= name %></p>

<span id="List">
</span>


<hr />

</body>

</html>
